<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<div>
		<div class="p-3 flex font-bold items-center border-y">
			<img th:src="|http://openweathermap.org/img/w/${WEATHER.icon}.png|">
			<h5
				th:text="|기온:${MAIN.temp}도   체감온도:${MAIN.feels_like}도   최저기온:${MAIN.temp_min}도   최고기온:${MAIN.temp_max}도   습도:${MAIN.humidity}   풍속:${WIND.speed}|">
			</h5>
		</div>
		<div class="flex py-3">
			<img class="flex-1 rounded" th:src="${CAMP.firstImageUrl}" />
			<div class="px-3 flex flex-col flex-2 text-ellipsis overflow-hidden">
				<div>
					<h5 class="p-3 font-bold text-lg" th:text="${CAMP.facltNm}"></h5>
					<h5 th:text="${CAMP.intro}"></h5>
				</div>

				<div class="my-3 p-3 border-y">
					<h5 th:text="${CAMP.lineIntro}"></h5>
				</div>

				<div class="flex justify-between rounded bg-gray-100">
					<div class="font-medium p-3">
						<h5 th:text="${CAMP.featureNm}"></h5>
						<h5 th:text="${CAMP.addr1}"></h5>
						<h5 th:text="${CAMP.tel}"></h5>
						<h5 class="text-blue-500 hover:text-yellow-500"><a th:href="${CAMP.homepage}"
								th:text="${CAMP.homepage}"></a></h5>
					</div>
					<div class="rounded" id="map" style="width:600px;height:350px;"></div>
				</div>
			</div>
		</div>
		<div class="flex justify-center p-4">
			<a class="mx-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				th:href="|@{/bbs/board?id=}${CAMP.campId}|">방명록</a>
			<a class="flex mx-4" th:href="|@{/camp/like/}${CAMP.campId}|">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					stroke="currentColor" class="w-10 h-10">
					<path stroke-linecap="round" stroke-linejoin="round"
						d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z" />
				</svg>
				<h3 class="fond-bold text-2xl ml-2" th:text="${CAMP.likeCnt}"></h3>
			</a>
		</div>
	</div>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2e1d9784e6d6ac580791dd4e2c958267&libraries=services"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		const id = /*[[${CAMP.campId}]]*/;
		/*]]>*/
		fetch('http://localhost:8080/camp/getLatAndLon?id=' + id)
			.then(res => res.json())
			.then(json => {
				// 이미지 지도에서 마커가 표시될 위치입니다 
				const markerPosition = new kakao.maps.LatLng(json.lat, json.lon);

				const mapContainer = document.getElementById('map') // 이미지 지도를 표시할 div  

				const mapOption = {
					center: markerPosition, // 이미지 지도의 중심좌표
					level: 4, // 이미지 지도의 확대 레벨
				};

				// 이미지 지도를 생성합니다
				const map = new kakao.maps.Map(mapContainer, mapOption);

				const marker = new kakao.maps.Marker({
					position: markerPosition
				});

				marker.setMap(map);
			})
	</script>
</th:block>

</html>