<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<div class="flex flex-col flex-1 ">
		<div class="grid md:grid-cols-4 grid-rows gap-3 p-5 flex-1">
			<th:block th:each="camp:${campList}">
				<div class="h-72 w-80 cursor-pointer drop-shadow-xl relative flex flex-col bg-gray-100 rounded-lg"
					th:onclick="|location.href='@{/camp/detail?id=}${camp.campId}'|">
					<img class="object-cover h-full rounded-t-lg" th:if="${camp.firstImageUrl != null}"
						th:src="${camp.firstImageUrl}">
					<h1 class="rounded-lg shadow-lg p-1 font-bold text-gray-700" th:text="${camp.facltNm}">
					</h1>
					<h1 class="absolute shadow-lg top-2 right-2 bg-white/60 rounded-full p-1 font-semibold"
						th:text="|❤️ ${camp.likeCnt}|"></h1>
				</div>
			</th:block>
		</div>
		<nav class="flex justify-center">
			<ul class="inline-flex items-center -space-x-px cursor-pointer">
				<li>
					<a class="block py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						th:onclick="|fn_first()|">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
							stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round"
								d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
						</svg>
					</a>
				</li>
				<th:block th:if="${pagination.prev}">
					<li>
						<a class="block py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
							th:onclick="|fn_prev(${pagination.currentPage})|">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
								stroke="currentColor" class="w-5 h-5">
								<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
							</svg>
						</a>
					</li>
				</th:block>
				<th:block th:each="index:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
					<li>
						<a class="block py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
							th:classappend="|${pagination.currentPage == index ? 'bg-blue-300' : ''}|"
							th:onclick="|fn_pagination(${index})|">
							<span th:text="${index}"></span>
						</a>
					</li>
				</th:block>
				<th:block th:if="${pagination.next}">
					<li>
						<a class="block py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
							th:onclick="|fn_next(${pagination.currentPage})|">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
								stroke="currentColor" class="w-5 h-5">
								<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
							</svg>

						</a>
					</li>
				</th:block>
				<li>
					<a class="block py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
						th:onclick="|fn_last(${pagination.theLastPage})|">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
							stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round"
								d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
						</svg>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<script>
		function fn_prev(currentPage) {

			const urlParams = new URLSearchParams(location.search);
			var page = currentPage - 1;

			const doNm = urlParams.get('doNm')
			const sigunguNm = urlParams.get('sigunguNm')
			const facltNm = urlParams.get('facltNm')

			var url = `/camp?doNm=${doNm}&sigunguNm=${sigunguNm}&facltNm=${facltNm}&page=${page}`;
			location.href = url;
		}

		function fn_pagination(page) {
			const urlParams = new URLSearchParams(location.search);

			const doNm = urlParams.get('doNm')
			const sigunguNm = urlParams.get('sigunguNm')
			const facltNm = urlParams.get('facltNm')
			var url = `/camp?doNm=${doNm}&sigunguNm=${sigunguNm}&facltNm=${facltNm}&page=${page}`;
			location.href = url;
		}

		function fn_next(currentPage) {
			var page = currentPage + 1;

			const urlParams = new URLSearchParams(location.search);

			const doNm = urlParams.get('doNm')
			const sigunguNm = urlParams.get('sigunguNm')
			const facltNm = urlParams.get('facltNm')

			var url = `/camp?doNm=${doNm}&sigunguNm=${sigunguNm}&facltNm=${facltNm}&page=${page}`;
			location.href = url;
		}

		function fn_first() {
			const urlParams = new URLSearchParams(location.search);

			const doNm = urlParams.get('doNm')
			const sigunguNm = urlParams.get('sigunguNm')
			const facltNm = urlParams.get('facltNm')

			var url = `/camp?doNm=${doNm}&sigunguNm=${sigunguNm}&facltNm=${facltNm}&page=1`;
			location.href = url;
		}

		function fn_last(theLastPage) {
			const urlParams = new URLSearchParams(location.search);

			const doNm = urlParams.get('doNm')
			const sigunguNm = urlParams.get('sigunguNm')
			const facltNm = urlParams.get('facltNm')

			var url = `/camp?doNm=${doNm}&sigunguNm=${sigunguNm}&facltNm=${facltNm}&page=${theLastPage}`;
			location.href = url;
		}
	</script>
</th:block>

</html>