<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<style>
		html,
		body {
			margin: 0;
		}

		section .box {
			height: 500px;
			background: tomato;
			color: white;
			box-sizing: border-box;
			padding: 30px 10px;
		}

		section .box:nth-child(2n) {
			background: teal;
		}
	</style>
	<!-- /////////////////////////////////////////////// -->
	<h1>collection</h1>
	<!-- 이미지, 비디오 모아서 보기 -->
	<div id="img-wrapper">
	</div>
	<!-- /////////////////////////////////////////////// -->
	<script th:inline="javascript">
		const imgWrapper = document.querySelector("#img-wrapper")
		let offset = 0; // 사진을 가지고 있는 json 데이터

		window.onload = () => {
			fetch(`http://localhost:8080/bbs/collection/5/${offset}`, {
				method: "post",
				headers: {
					'Content-Type': 'application/json',
				},
			}).then(res => res.json())
				.then(json => json.map((item) => {
					console.log(item)
					const img = document.createElement("img");
					img.src = "/upload/" + item.img;
					imgWrapper.appendChild(img);
				}))

			offset += 5;
		}

		window.onscroll = () => {
			if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
				//todo fetch로 json 가져와서 배열에 추가하기

				fetch(`http://localhost:8080/bbs/collection/5/${offset}`, {
					method: "post",
					headers: {
						'Content-Type': 'application/json',
					},
				}).then(res => res.json())
					.then(json => json.map((item) => {
						console.log(item)
						const img = document.createElement("img");
						img.src = "/upload/" + item.img;
						imgWrapper.appendChild(img);
					}))

				offset += 5;
				console.log(offset)
			}
		}
	</script>
</th:block>

</html>