<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
<h1>글쓰기</h1>
<form th:action="@{/bbs/insert}" method="post" enctype="multipart/form-data">
<div>
    <input name="title" type="text" placeholder="제목을 입력해주세요"/>
</div>
<div>
    <textarea name="content" placeholder="글을 작성해주세요"></textarea>
</div>
<div>
    <label for="image">Image File</label>
    <input id="image" name="files" type="file" accept="image/*">
</div>
<div>
    <label for="video">Video File</label>
    <input id="video" name="video" type="file" accept="application/mp4">
</div>
    <button>글작성</button>
</form>
</th:block>
</html>