<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <form th:action="|@{/bbs/update/}${BBS.campId}/${BBS.id}?${_csrf.parameterName}=${_csrf.token}|" th:object="${BBS}"
        method="post" enctype="multipart/form-data">
        <div>
            <input
                class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                th:field="*{title}" name="title" type="text" placeholder="제목을 입력해주세요" th:value="*{title}" />
        </div>
        <div>
            <textarea
                class="block p-4 h-96 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                th:field="*{content}" name="content" placeholder="글을 작성해주세요" th:value="*{content}"
                th:text="*{content}"></textarea>
        </div>
        <div class="flex justify-center">
            <div class="mx-5">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="image">Image
                    File</label>
                <input
                    class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    name="img_files" type="file" accept="image/*" multiple="multiple">
            </div>
            <div class="mx-5">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="video">Video
                    File</label>
                <input
                    class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    name="video_file" type="file" accept="application/mp4">
            </div>
        </div>
        <button>글작성</button>
    </form>
</th:block>

</html>