<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:fragment="configFragment">
	<link rel="stylesheet" th:href="|@{/static/css/style.css}?asdssssf|">
	<link rel="stylesheet" type="text/css" th:href="|@{/static/css/Face.css}?asdf|">

	<script th:src="@{/static/js/Face.js}"></script>
	<link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}">
	<title>아잉캠프</title>
	
</th:block>

<th:block th:fragment="camp_home_js">
	<script th:inline="javascript" th:src="@{/static/js/camp_home.js}"></script>
</th:block>

<th:block th:fragment="camp_detail_js">
	<script th:inline="javascript" th:src="@{/static/js/camp_detail.js}"></script>
</th:block>

<th:block th:fragment="bbs_detail_js">
	<script th:inline="javascript" th:src="@{/static/js/bbs_detail.js}"></script>
</th:block>

<th:block th:fragment="bbs_collection_js">
	<script th:inline="javascript" th:src="@{/static/js/bbs_collection.js}"></script>
</th:block>

<th:block th:fragment="bbs_board_js">
	<script th:inline="javascript" th:src="@{/static/js/bbs_board.js}"></script>
</th:block>
</html>