    <!--headerFragment 선언-->
    <div th:fragment="headerFragment">
        <h1>HEADER</h1>
	    <nav>
			<ul>
				<li><a th:href="@{/bbs/collection}">둘러보기</a></li>
				<li sec:authorize="!isAuthenticated()"><a th:href="@{/user/login}">로그인</a></li>
				<li sec:authorize="!isAuthenticated()"><a th:href="@{/user/join}">회원가입</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/user/join}">마이페이지</a></li>				
			</ul>
			<form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">
				<button>로그아웃</button>
			</form>
		</nav>
    </div>