<!--headerFragment 선언-->
<div th:fragment="headerFragment" class="flex justify-end border-b text-gray-800 font-bold text-lg">
	<div class="absolute inset-x-1/2 flex flex-col justify-center items-center">
		<h1 class="text-center w-48 cursor-pointer font-logo hover:text-black text-primary" th:onclick="|location.href='@{/}'|">Eying-Camp
		</h1>
		<div>
			<div class="face">
				<div class="eye">
					<div class="pill"></div>
				</div>
				<div class="eye">
					<div class="pill"></div>
				</div>
			</div>
		</div>
	</div>
	<nav class="flex justify-center items-center">
		<ul class="flex p-5">
			<li class="mx-5"><a th:href="@{/bbs/collection}">둘러보기</a></li>
			<li class="mx-5" sec:authorize="!isAuthenticated()"><a th:href="@{/user/login}">로그인</a></li>
			<li class="mx-5" sec:authorize="!isAuthenticated()"><a th:href="@{/user/join}">회원가입</a></li>
			<li class="mx-5" sec:authorize="isAuthenticated()"><a class="cursor-pointer" onclick="logout()">로그아웃</a>
			</li>
		</ul>
		<form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}"></form>
		<script>
			const logout = () => {
				document.querySelector("form").submit();
			}
		</script>
	</nav>
</div>