<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.camp.persistence.BbsDao">

	<select id="selectAll" resultType="Bbs">
		SELECT
		bbs_id AS id,
		createdDate,
		lastModifiedDate,
		createdBy,
		lastModifiedBy,
		content,
		likeCnt,
		title,
		camp_id AS campId,
		username
		FROM bbs
	</select>

	<select id="findById" resultType="Bbs">
		SELECT 		
		bbs_id AS id,
		createdDate,
		lastModifiedDate,
		createdBy,
		lastModifiedBy,
		content,
		likeCnt,
		title,
		camp_id AS campId,
		username
		FROM bbs where bbs_id
		=
		#{bbsId}
	</select>

	<insert id="insert" parameterType="Bbs" useGeneratedKeys="true"
		keyProperty="id" keyColumn="bbs_id">
		INSERT INTO bbs(title, username,
		createdDate, lastModifiedDate, createdBy, lastModifiedBy, content,
		camp_id
		) VALUES (
		#{title}, #{user.username}, now(), now(),
		#{user.username}, #{user.username}, #{content}, #{campId}
		)
	</insert>

	<select id="findBoardListCnt" resultType="int">
		SELECT count(*) AS
		listCnt FROM bbs WHERE camp_id = #{campId}
	</select>

	<select id="findBoardList" resultType="Bbs">
		SELECT 		
		bbs_id AS id,
		createdDate,
		lastModifiedDate,
		createdBy,
		lastModifiedBy,
		content,
		likeCnt,
		title,
		camp_id AS campId,
		username
		FROM bbs WHERE
		camp_id = #{campId} LIMIT
		#{pagination.cri}, #{pagination.LIST_SIZE}
	</select>

	<!-- IMAGE UPLOAD -->
	<insert id="insertImage" parameterType="Image">
		INSERT INTO image(bbs_id,
		uuidImgName, originalImgName, username
		) VALUES (
		#{bbs.id},
		#{uuidImgName},
		#{originalImgName},
		#{username}
		)
	</insert>

	<insert id="insertImages" parameterType="Image">
		INSERT INTO image
		(
		bbs_id,
		uuidImgName,
		originalImgName,
		username
		)
		VALUES
		<foreach collection="list" item="vo" separator=", ">
			(
			#{vo.bbs.id},
			#{vo.uuidImgName},
			#{vo.originalImgName},
			#{vo.username}
			)
		</foreach>
	</insert>
	
	<select id="findImagesByBbsId" resultType="Image">
		SELECT * FROM image
		WHERE bbs_id = #{bbs.id}
	</select>

	<select id="findImageCount" resultType="Integer">
		SELECT count(*) FROM
		image
	</select>

	<select id="findImages" resultType="Image">
		SELECT * FROM image LIMIT
		#{cri}, #{LIST_SIZE}
	</select>

	<!-- VIDEO UPLOAD -->
	<insert id="insertVideo" parameterType="Video">
		INSERT INTO video(bbs_id,
		data, username
		) VALUES (
		#{bbs.id}, #{data}, #{username}
		)
	</insert>

	<select id="findVideoByBbsId" resultType="Video">
		SELECT * FROM video
		WHERE bbs_id = #{bbs.id}
	</select>

	<update id="update" parameterType="Bbs">
		UPDATE bbs
		SET
		title = #{title},
		content = #{content},
		lastModifiedDate = now()
		WHERE bbs_id = #{id}
	</update>

	<delete id="delete" parameterType="Long">
		DELETE FROM bbs WHERE bbs_id =
		#{id}
	</delete>

	<delete id="deleteImage" parameterType="Long">
		DELETE FROM image WHERE
		image_id = #{imageId}
	</delete>

	<delete id="deleteVideo" parameterType="Video">
		DELETE FROM video WHERE
		video_id = #{videoId}
	</delete>
</mapper> 