<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.camp.persistence.BbsDao">

	<select id="selectAll" resultType="Bbs">
		SELECT * FROM bbs
	</select>

	<select id="findById" resultType="Bbs">
		SELECT * FROM bbs where bbs_id =
		#{bbsId}
	</select>

	<insert id="insert" parameterType="Bbs" useGeneratedKeys="true"
		keyProperty="bbsId" keyColumn="bbs_id">
		INSERT INTO bbs(title, username, date, time, content, camp_id
		) VALUES (
		#{title}, #{user.username}, #{date}, #{time}, #{content}, #{campId}
		)
	</insert>

	<select id="findBoardListCnt" resultType="int">
		SELECT count(*) AS
		listCnt FROM bbs WHERE camp_id = #{campId}
	</select>

	<select id="findBoardList" resultType="Bbs">
		SELECT * FROM bbs WHERE camp_id = #{campId} LIMIT
		#{pagination.cri}, #{pagination.LIST_SIZE}
	</select>
	
	<!-- IMAGE UPLOAD -->
	<insert id="insertImage" parameterType="Image">
		INSERT INTO image(bbs_id,
		img, original_img, username
		) VALUES (
		#{bbs.bbsId}, #{img},
		#{original_img}, #{user.username}
		)
	</insert>

	<insert id="insertImages" parameterType="Image">
		INSERT INTO image
		(
		bbs_id,
		img,
		original_img,
		username
		)
		VALUES
		<foreach collection="list" item="vo" separator=", ">
			(
			#{vo.bbs.bbsId},
			#{vo.img},
			#{vo.original_img},
			#{vo.user.username}
			)
		</foreach>
	</insert>
	<select id="findImagesByBbsId" resultType="Image">
		SELECT * FROM image
		WHERE bbs_id = #{bbs.bbsId}
	</select>
	
	<select id="findImageCount" resultType="Integer">
		SELECT count(*) FROM image
	</select>

	<select id="findImages" resultType="Image">
		SELECT * FROM image LIMIT
		#{cri}, #{LIST_SIZE}
	</select>
	
	<!-- VIDEO UPLOAD -->
	<insert id="insertVideo" parameterType="Video">
		INSERT INTO video(bbs_id,
		data, username
		) VALUES (
		#{bbs.bbsId}, #{data}, #{user.username}
		)
	</insert>
	
	<select id="findVideoByBbsId" resultType="Video">
		SELECT * FROM video
		WHERE bbs_id = #{bbs.bbsId}
	</select>
	
	<update id="update" parameterType="Bbs">
		UPDATE bbs
		SET
		title = #{title},
		content = #{content}
		WHERE bbs_id = #{bbsId}
	</update>
	
	<delete id="delete" parameterType="Long">
		DELETE FROM bbs WHERE bbs_id =
		#{bbsId}
	</delete>
	
	<delete id="deleteImage" parameterType="Long">
		DELETE FROM image WHERE image_id = #{imageId}
	</delete>
	<delete id="deleteVideo" parameterType="Video">
		DELETE FROM video WHERE video_id = #{videoId}
	</delete>
</mapper> 