<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sb.camp.persistence.CampDao">

	<select id="selectAll" resultType="Camp">
		SELECT * FROM camp
	</select>

	<select id="findById" resultType="Camp">
		SELECT * from camp where
		camp_id = #{id}
	</select>

	<insert id="insertAPI" parameterType="Camp">
		INSERT IGNORE INTO camp(
		facltNm,
		lineIntro,
		intro,
		doNm,
		featureNm,
		sigunguNm,
		zipcode,
		addr1,
		tel,
		homepage,
		firstImageUrl,
		mapX,
		mapY)
		VALUES
		<foreach collection="list" item="vo" separator=", ">
			(
			#{vo.facltNm},
			#{vo.lineIntro},
			#{vo.intro},
			#{vo.doNm},
			#{vo.featureNm},
			#{vo.sigunguNm},
			#{vo.zipcode},
			#{vo.addr1},
			#{vo.tel},
			#{vo.homepage},
			#{vo.firstImageUrl},
			#{vo.mapX},
			#{vo.mapY}
			)
		</foreach>
	</insert>

	<insert id="insert" parameterType="Camp">
		INSERT INTO camp(
		facltNm,
		lineIntro,
		intro,
		doNm,
		featureNm,
		sigunguNm,
		zipcode,
		addr1,
		tel,
		homepage,
		firstImageUrl,
		mapX,
		mapY
		) VALUES (
		#{facltNm},
		#{lineIntro},
		#{intro},
		#{doNm},
		#{featureNm},
		#{sigunguNm},
		#{zipcode},
		#{addr1},
		#{tel},
		#{homepage},
		#{firstImageUrl},
		#{mapX},
		#{mapY}
		)
	</insert>

	<select id="getCampListCnt" resultType="int">
		SELECT count(*) AS
		listCnt FROM (
		SELECT * FROM camp
		WHERE doNm LIKE CONCAT('%', #{doNm},
		'%')
		AND sigunguNm LIKE CONCAT('%', #{sigunguNm}, '%')
		AND facltNm LIKE
		CONCAT('%', #{facltNm}, '%')
		) AS SUB
	</select>

	<select id="getCampList" resultType="Camp">
		SELECT camp_id,
				addr1,
				doNm,
				facltNm,
				featureNm,
				firstImageUrl,
				homepage,
				intro,
				likeCnt,
				lineIntro,
				mapX,
				mapY,
				sigunguNm,
				tel,
				zipcode
		FROM (
		SELECT * FROM camp
		WHERE doNm LIKE CONCAT('%', #{doNm}, '%')
		AND
		sigunguNm LIKE CONCAT('%', #{sigunguNm}, '%')
		AND facltNm LIKE
		CONCAT('%', #{facltNm}, '%')
		) AS SUB
		LIMIT #{cri}, #{LIST_SIZE}
	</select>
	<update id="update" parameterType="Camp">
		UPDATE camp
		SET
		likeCnt = #{likeCnt}
		WHERE camp_id = #{campId}
	</update>

</mapper> 