<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<form th:action="@{/user/join}" method="post" th:object="${user}">
		<div>
	      <label>Username</label>:
	      <input th:field="*{username}" autofocus="autofocus" />	
	      <p th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>	
		</div>
		<div>
	      <label>Password</label>:
	      <input th:field="*{password}" type="password"/>
	      <p th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></p>
		</div>
		<div>
	      <label>Repassword</label>:
	      <input name="re_password" type="password"/>
		</div>
		<div>
	      <label>Email</label>:
	      <input th:field="*{email}"/>
	      <p th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>	
		</div>
		<div>
	      <label>Nickname</label>:
	      <input th:field="*{nickname}"/>
	      <p th:errors="*{nickname}" th:if="${#fields.hasErrors('nickname')}"></p>
		</div>
		<div>
	      <button>Join</button>	
		</div>
	</form>
</th:block>
</html>