<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<form th:action="@{/user/join}" method="post">
		<div>
	      <label>Username</label>:
	      <input name="username" autofocus="autofocus" />	
		</div>
		<div>
	      <label>Password</label>:
	      <input type="password" name="password" />	
		</div>
		<div>
	      <label>Repassword</label>:
	      <input type="password" name="re_password" />	
		</div>
		<div>
	      <label>email</label>:
	      <input name="email" />	
		</div>
		<div>
	      <label>nickname</label>:
	      <input name="nickname" />	
		</div>
		<div>
	      <button>Join</button>	
		</div>
	</form>
</th:block>
</html>