<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
	<form th:action="@{/login}" method="post">
		<div>
	      <label for="username">Username</label>:
	      <input name="username" autofocus="autofocus" />	
		</div>
		<div>
	      <label for="password">Password</label>:
	      <input type="password" name="password" />	
		</div>
		<div>
	      <button>Log in</button>	
		</div>
	</form>
</th:block>
</html>